body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f5;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

header {
    background-image: url(../images/pattern-bg-desktop.png);
    min-height: 250px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2rem;
}

header h1 {
    margin-bottom: 2%;
    font-size: 2rem;
    font-weight: 700;
}

#ip-form {
    width: 40%;
    margin: 0 auto;
    display: flex;
}

#ip-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid lightgrey;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
}

#ip-form button {
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#ip-form button:hover {
    background-color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
}

.info-panel {
    background-color: rgb(255, 255, 255);
    max-width: 1100px;
    padding: 1.5rem;
    margin-top: -5%;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.info-block {
    margin-top: 2rem;
    font-size: 0.75rem;
}

.info-block h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    color: #969696;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
}

.info-block p {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: rgb(59, 59, 59);
    margin-top: 0.25rem;
}

.info-block:not(:last-child) {
    border-right: 1px solid lightgrey;
    padding-right: 2rem;
}

.map-section {
    margin-top: 2rem;
}

#map {
    width: 100%;
    height: 400px;
}

.attribution {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    #ip-form {
        max-width: 90%;
    }

    .info-panel {
        width: 90%;
        padding: 1.5rem;
        margin-top: -5rem;
    }

    .info-block {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .info-block:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid lightgrey;
        padding-right: 0;
        padding-bottom: 1rem;
    }

    .info-block:last-child {
        margin-bottom: 0;
    }
}