header {
    background-image: url(../images/pattern-bg-desktop.png);
    min-height: 250px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#ip-form {
    width: 40%;
    margin: 0 auto;
    display: flex;
}

#ip-input {
    flex-grow: 1;
    padding: 8px 8px 0px 0px;
    border: lightgrey;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
}

#ip-form button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}