header {
    background-image: url(../images/pattern-bg-desktop.png);
    min-height: 250px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2rem;
}

header h1 {
    margin-bottom: 2%;
    font-size: 2rem;
    font-weight: 700;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#ip-form {
    width: 40%;
    margin: 0 auto;
    display: flex;
}

#ip-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid lightgrey;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
}

#ip-form button {
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

