header {
    background-image: url(../images/pattern-bg-desktop.png);
    min-height: 250px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}