header {
    background-image: url(../images/pattern-bg-desktop.png);
    min-height: 250px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#ip-form {
    max-width: 100%;
    margin-left/right: 50px;
    display: flex;
    gap: 0 rem;
}

#ip-input {
    flex-grow: 1;
    padding: 8px 8px 8px 8px;
    border: lightgrey;
    border-radius: left 5px;
    font-size: 1rem;
}

#ip-form button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: right 5px;
    cursor: pointer;
}